NODE_ENV=development

# hapi server config
PORT=PORT
HOST=HOST
HOST_URL=https://HOST::PORT


#sql server config
SQL_USER=SQL_USER
SQL_PASSWORD=SQL_PASSWORD
SQL_DATABASE=SQL_DATABASE
SQL_SERVER=SQL_SERVER_URL
SQL_PORT=PORT
SQL_ENCRYPT=BOOL
